#head-main_logo{
  height: 20px;
}

.navbar{
  background-color: #8b0576;
}

.page-header.content-center.brand{
  width: 60% !important;
}

.square-side{
  z-index: -1;
  animation: move-left-right 6s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.5;
  opacity: 0.5 !important;
}

.square10{
  left: 3%;
  top: -21%;
  background: linear-gradient(0deg, #097caa 0%, #9aeadc 100%) !important;
}

.square11{
  right: 3%;
  top: 10%;
  background: linear-gradient(0deg, #c67af6 0%, #9e9afc 100%) !important;
}

.squares {
  &.square1{
    background: linear-gradient(0deg, #ff7b25 0%, #ffa921 100%) !important;
  }
  &.square2{
    background: linear-gradient(0deg, #00c0d2 0%, #0183f8 100%) !important;
  }
  &.square3{
    background: linear-gradient(0deg, #ff2c2c 0%, #b8024b 100%) !important;
    opacity: 0.5 !important;
  }
  &.square4{
    background: linear-gradient(0deg, #03ff7d 0%, #00e5dd 100%) !important;
  }
  &.square5{
    background: linear-gradient(0deg, #00af25 0%, #00ff7a 100%) !important;
    opacity: 0.3 !important;
  }
  &.square6{
    background: linear-gradient(0deg, #ff8400 0%, #dcec00 100%) !important;
  }
  &.square7{
    background: linear-gradient(0deg, #0042c6 0%, #d001ff 100%) !important;
    opacity: 0.5 !important;
  }
}
p{
  font-size: 18px !important;
}

#title_header{
  height: 100vh;
}

#h2-seo{
  font-weight: normal;
}

.page-header .content-center.brand{
  width: 100%;
}

.h1-seo{
  @media only screen and (min-width: 900px){
    font-size: 60px;
  }
}

.nav-item{
  cursor: default !important;
}

.index-page{

}

#whoweare, #title_header{
  background: url('../customimg/whoweare_bg.png') no-repeat 0 0;
  background-size: cover;
}

#title_header_idx{
  background: url('../customimg/alt_main_bg_1.png') no-repeat 0 0;
  background-size: cover;
}

.index-page{
  background-color: #3092a2 !important;
}

.navbar{
  background-color: #093f94 !important;
}

.profile-title{
  position: absolute;
  top: 110px;
  left: 60px;
}

.40px{
  font-size: 40px !important;
}
   
.tob_nn{
  .text-on-back{
    @media only screen and (max-width: 900px) {
      font-size: 40px;
    }
    @media only screen and (min-width: 1100px) {
      font-size: 60px;
    }
    @media only screen and (min-width: 1300px) {
      font-size: 70px;
    }
  }     
}

.dbw{
  word-break: keep-all;
}

#vid-main-iframe{
  width: 100%;
  height: 80%;
  @media only screen and (max-width: 780px) {
    height: 280px;
  }
}

.dots{
  z-index: -999;
}

.footer{
  background: radial-gradient(ellipse at bottom, #2F7D7D 30%, #173b41 80%);
}

.letter{
  background: url('../customimg/notes_bg.png') repeat 0 0;
  color: black;
  padding: 2rem .5rem;
  border-radius: 5px;
  font-weight: 500;
  word-wrap: break-word;
}

#main-seo-img{
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  @media only screen and (min-width: 900px) {
    width: 600px;
  }
  animation: fadeInFromBottom;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
}

#explore{
  height: 100px;
}

// Animations

.swing{
  animation-duration: 1.5s;
  animation-name: swing;
}

.txt-rotate{
  @media only screen and (max-width: 768px){
    display: inline-block;
    width: 100%;
  }
}

@keyframes fadeInFromBottom {
    from{
      opacity: 0;
      transform: translateY(50%);
    }

    to{
      opacity: 1;
    }
}

@keyframes swing {

  0%{
    transform-origin: top;
    transform: rotateX(-110deg);
  }

  30%{
    transform: rotateX(70deg);
  }

  70%{
    transform: rotateX(-40deg);
  }

  100%{
    transform-origin: top;
    transform: rotateX(0deg);
  }

}

p{
  font-weight: 400 !important;
}

a{
  font-weight: 700 !important;
}

.health{
  background: url('../customimg/health_bg_alt.png') no-repeat 0 0;
  background-size: cover;
}

.env{
  background: url('../customimg/env_bg.png') no-repeat 0 0;
  background-size: cover;
}

.rights{
  background: url('../customimg/rights_bg.png') no-repeat 0 0;
  background-size: cover;
}